{;:paths   ["src/shared" "src/asami"]

 :deps    {org.clojars.quoll/asami {:mvn/version "2.3.3"}
           com.fulcrologic/fulcro-rad             {:mvn/version "1.4.0"} ; Note: We need Fulcro 3.5.3+ so default vals etc have correct diffs
           edn-query-language/eql                 {:mvn/version "1.0.1"}
           com.taoensso/encore                    {:mvn/version "3.1.0"}
           com.fulcrologic/guardrails             {:mvn/version "1.1.5"}

           ;; Unified logging for server
           com.taoensso/timbre                    {:mvn/version "5.0.0"}
          
           org.clojure/clojurescript              {:mvn/version "1.11.54"} ; 1.11.54 adds update-vals
           org.clojure/clojure                    {:mvn/version "1.11.0"}}

 :aliases {:pathom2 {:extra-deps {com.wsscode/pathom {:mvn/version "2.4.0"}
                                  ;; NOTE: The following is pulled automatically by Pathom3 but not P2 yet we use it
                                  com.wsscode/cljc-misc {:mvn/version "2022.03.07"}}}
           :pathom3 {:extra-deps {com.wsscode/pathom3 {:mvn/version "2023.01.24-alpha"}}}
           :test      {:extra-paths ["test"]
                       :jvm-opts ["-Dguardrails.enabled"
                                  "-XX:-OmitStackTraceInFastThrow" "-XX:MaxJavaStackTraceDepth=1000000"
                                  ;"-XX:+ShowCodeDetailsInExceptionMessages" ; see https://openjdk.java.net/jeps/358 - JDK 14+
                                  ;; opts to support clj-async-profiler:
                                  "-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.11"}}}
           :run-tests {:jvm-opts ["-Dguardrails.enabled" "-Dtaoensso.timbre.min-level.edn=:error"]
                       :main-opts  ["-m" "kaocha.runner"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}}}

           :build       {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                         :ns-default build}}}
